<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Scripts</h2>
            <ul>
                <li class="listcard"><a href="/">Home</a></li>
                <li class="listcard"><a href="/MJ_to_mongo">MJ to Mongo</a></li>
                <li class="listcard"><a href="/midjourney_automator">Midjourney Automator</a></li>
                <li class="listcard"><a href="/sorter">Sorter</a></li>
                <li class="listcard"><a href="/upscaler">Upscaler</a></li>
                <li class="listcard"><a href="/Redbubble_Upload">Redbubble Upload</a></li>
            </ul>
        </div>
    </div>
</body>
</html>