<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Drag and Drop</title>
</head>
<body>
    <h1>Drag and Drop Image</h1>

    <div class="container">
        <div class="listcard">
            <ul>
                <li class="listcard"><a href="/">Home</a></li>
                <li class="listcard"><a href="/MJ_to_mongo">MJ to Mongo</a></li>
                <li class="listcard"><a href="/midjourney_automator">Midjourney Automator</a></li>
                <li class="listcard"><a href="/sorter">Sorter</a></li>
                <li class="listcard"><a href="/upscaler">Upscaler</a></li>
                <li class="listcard"><a href="/Redbubble_Upload">Redbubble Upload</a></li>
            </ul>
        </div>
        <div>
          <form action="/movefilewithoutmongo" method="post">
            <input type="text" name="ask" placeholder="What file are you wanting to move: " required>
            <button type="submit" name="script" value="movefilewithoutmongo">Move the File</button>
          </form>
        </div>
    </div>
</body>
</html>
