<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Drag and Drop</title>

<script>
    function handleDrop(event) {
        event.preventDefault();
        var file = event.dataTransfer.files[0];
        var bucket = event.target.id;
        var formData = new FormData();
        formData.append('file', file);
        formData.append('bucket', bucket);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/movefile');
        xhr.send(formData);

        xhr.onload = function() {
            var msg = document.createElement("div");
            if (xhr.status === 200) {
                msg.innerHTML = xhr.responseText;
            } else {
                msg.innerHTML = 'Image upload failed!';
            }

            msg.style.position = "fixed";
            msg.style.top = "10px"; // position it 10px from the top of the page
            msg.style.left = "10px"; // position it 10px from the left of the page
            msg.style.padding = "10px";
            msg.style.backgroundColor = "black"; // make it black so it's visible on any background
            msg.style.color = "white"; // make the text white so it's visible on the black background
            document.body.appendChild(msg);

            setTimeout(function() {
                msg.parentNode.removeChild(msg);
            }, 3000); // Removes the message after 3 seconds

            window.location.reload();
        };
    }

    function handleDragOver(event) {
        event.preventDefault();
    }
</script>
</head>
<body>
    <h1>Drag and Drop Image</h1>
    <div class="container">
        <div class="viewer" ondragstart="event.dataTransfer.setData('text/plain', null)" ondragover="handleDragOver(event)">
            {% if random_image is not none %}
                <img src="{{ url_for('static', filename='images/' + random_image) }}" draggable="true" style="max-width: 100%; max-height: 100%;" />
            {% else %}
                <img src="{{ url_for('static', filename='no_more_images.png') }}" draggable="false" style="max-width: 100%; max-height: 100%;" />
            {% endif %}
        </div>

        <div class="bucket">
            {% for bucket_name in bucket_names %}
                <div id="{{ bucket_name }}" class="bucket" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
                    {{ bucket_name }}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
