<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Upload to PoD</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Upload to PoD sites</h2>
        </div>
    </div>
    <div class="container">
        <div class="listcard">
            <form action="/run_script" method="post">
                <button type="submit" name="script" value="Redbubble_Upload">Upload to Redbubble</button>
            </form>
        </div>
    </div>
</body>
</html>