<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Image Upscaler/h2>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <form action="/run_script" method="post">
                <button type="submit" name="script" value="upscaler">Run Upscaler</button>
            </form>
        </div>
    </div>
</body>
</html>