<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Image Upscaler/h2>
        </div>
    </div>
    <div class="container">
        <div class="listcard">
            <ul>
                <li class="listcard"><a href="/">Home</a></li>
                <li class="listcard"><a href="/MJ_to_mongo">MJ to Mongo</a></li>
                <li class="listcard"><a href="/midjourney_automator">Midjourney Automator</a></li>
                <li class="listcard"><a href="/sorter">Sorter</a></li>
                <li class="listcard"><a href="/upscaler">Upscaler</a></li>
                <li class="listcard"><a href="/Redbubble_Upload">Redbubble Upload</a></li>
            </ul>
        </div>
        <div class="card">
            <form action="/run_script" method="post">
                <select name="chain_info" required>
                    <option value="">Select a chain</option>
                    <option value='static\8192.chn,Upscaled8192x8192,Redbubble_Upload'>Redbubble</option>
                    <option value='static\8192.chn,Upscaled8192x8192,StockPhoto_Upload'>StockPhoto</option>
                    <!-- Add more options as needed -->
                </select>
                <button type="submit" name="script" value="upscaler">Run Upscaler</button>
            </form>
        </div>
    </div>
</body>
</html>