body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #1F1F1F;
    border-radius: 5px;
}


.card {
    border-radius: 5px;
    align-items: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2C2C2C;
    color: #FFFFFF;
}

.listcard {
    border-radius: 5px;
    align-items: left;
    box-shadow: 0 5px 15px rgba(0,150,0,1);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #F2F2F2;
    color: #FFFFFF;
}


.viewer {
    display: inline-block;
    flex: 1;
    padding: 20px;
}

.buckets {
grid-column: 1 / span 2;
    float:  right;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.bucket {
    display: inline-block;
    float: right;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 200px;
    margin-bottom: 20px;
}

a:link {
    color: #0094DE;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #FF11FF;
}

a:hover {
    text-decoration: underline;
    color: #DD127B;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container-1col {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
    max-width: 30%;
}

.grid-container > div {
  background-color: rgba(50, 0, 50, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-item pre{
    margin:0;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}
.item1 {
  grid-column: 1 ;
}